[Desktop Entry]
Name=Skype (Unofficial)
Comment=Skype Web App (unofficial) using the Skype web version with a User Agent override for Ubuntu Touch devices.
Type=Application
Icon=skype.png
Exec=webapp-container --store-session-cookies --user-agent-string='Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/43.0.2357.130 Chrome/43.0.2357.130 Safari/537.36' --webappUrlPatterns=https://*.skype.com/*,https://www.facebook.com/* https://web.skype.com %u
Terminal=false
X-Ubuntu-Touch=true
